<app-header></app-header>
<section class="product-detail" *ngIf="product != undefined">
    <div class="img">
        <img [src]="product.img" alt={{product.title}}>
    </div>
    <div class="product-desc">
        <div class="title">{{product.title}}</div>
        <div class="price">${{product.price}}</div>
        <div class="desc">{{product.desc}}</div>
        <div class="options">
            <form class="colors">
                Color: 
                <div class="form-group" *ngFor="let color of product.colors; let i = index">
                    <input type="radio" [id]="color" name="color" [value]="color" #colorInput (input)="getColor(colorInput)" [checked]="i===0 && true">
                    <label [for]="color" class="color" [ngStyle]="{backgroundColor: color}"></label>
                </div>
            </form>
            <div class="sizes">
                Size:
                <select #size (change)="getSize(size)">
                    <option *ngFor="let size of product.sizes" [value]="size">{{size}}</option>
                </select>
            </div>
        </div>
        <div class="quantity">
            <div class="icon" (click)="decreaseValue()">
                <i class="fa-solid fa-minus"></i>
            </div>
            <div class="value">{{value}}</div>
            <div class="icon" (click)="increaseValue()">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <div class="buy">
            <button class="cart" (click)="addToCart(product)">Add To Cart</button>
            <button class="buy-now">Buy Now</button>
            <button class="wishlist" (click)="addToWishlist(product)">Add To Wishlist</button>
        </div>
    </div>
</section>