<footer>
    <div class="left">
        <h2 class="title">
            SHOPSPREE
        </h2>
        <p class="desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        </p>
        <div class="icons">
            <i class="fa-solid fa-envelope"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-pinterest"></i>
        </div>
    </div>
    <div class="center">
        <h2 class="title">
            LINKS
        </h2>
        <ul class="list">
            <li class="list-item"><a routerLink="/home">Home</a></li>
            <li class="list-item"><a routerLink="/cart">Cart</a></li>
            <li class="list-item"><a routerLink="/wishlist">Wishlist</a></li>
            <li class="list-item"><a href="#">Man Fashion</a></li>
            <li class="list-item"><a href="#">Woman Fashion</a></li>
            <li class="list-item"><a href="#">Accessories</a></li>
            <li class="list-item"><a href="#">My Orders</a></li>
            <li class="list-item"><a href="#">Terms</a></li>
        </ul>
    </div>
    <div class="right">
        <h2 class="title">CONTACT US</h2>
        <div class="contact">
            <i class="fa-solid fa-location-dot"></i>
            <a href='#'>210, New Dell Port, Portman</a>
        </div>
        <div class="contact">
            <i class="fa-solid fa-envelope"></i>
            <a href='mailto:shopspree@gmail.com'>shopspree@gmail.com</a>
        </div>
        <div class="contact">
            <i class="fa-solid fa-phone"></i>
            <a href='call:9876543210'>9876543210</a>
        </div>
    </div>
</footer>