<section class="login">
    <div class="login-wrapper">
        <h1 class="title">WELCOME BACK! LOGIN</h1>
        <form class="login-form" #form="ngForm" (ngSubmit)="findUser(form)">
            <div class="form-group">
                <label>EMAIL</label>
                <input type='email' name="email" #email="ngModel" placeholder='Enter your name' [(ngModel)]="user.email" required>
                <div *ngIf="email.errors && form.submitted" class="error">Please enter valid email</div>
            </div>
            <div class="form-group">
                <label>PASSWORD</label>
                <input type='password' name="password" #password="ngModel" placeholder='Enter your password' [(ngModel)]="user.password" required>
                <div *ngIf="password.errors && form.submitted" class="error">Please enter valid password</div>
            </div>
            <button class="btn">LOGIN</button>
            <div class="error main_error" *ngIf="notValid">Either entered credentials are wrong or the user doesn't exist</div>
        </form>
        <div class="register">Not an existing user? <a routerLink="/register">Click here to Register</a></div>
    </div>
</section>